<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Países</h2>
  <p>Listagem</p>
  <ul>
    <li *ngFor="let country of countries">{{ country.name }}</li>
  </ul>
</ion-content>
